<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
    </tr>
    <tr>
      <th>ticker</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>[]</th>
      <td>2857</td>
    </tr>
    <tr>
      <th>['WISH']</th>
      <td>356</td>
    </tr>
    <tr>
      <th>['AMC']</th>
      <td>160</td>
    </tr>
    <tr>
      <th>['CLOV']</th>
      <td>160</td>
    </tr>
    <tr>
      <th>['TRCH']</th>
      <td>140</td>
    </tr>
    <tr>
      <th>['BB']</th>
      <td>103</td>
    </tr>
    <tr>
      <th>['WKHS']</th>
      <td>75</td>
    </tr>
    <tr>
      <th>['GME']</th>
      <td>70</td>
    </tr>
    <tr>
      <th>['CLNE']</th>
      <td>45</td>
    </tr>
    <tr>
      <th>['GSAT']</th>
      <td>37</td>
    </tr>
  </tbody>
</table>