<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
    </tr>
    <tr>
      <th>ticker</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>[]</th>
      <td>1672</td>
    </tr>
    <tr>
      <th>['AMC']</th>
      <td>94</td>
    </tr>
    <tr>
      <th>['WISH']</th>
      <td>85</td>
    </tr>
    <tr>
      <th>['CLOV']</th>
      <td>59</td>
    </tr>
    <tr>
      <th>['GME']</th>
      <td>54</td>
    </tr>
    <tr>
      <th>['SPCE']</th>
      <td>53</td>
    </tr>
    <tr>
      <th>['BB']</th>
      <td>48</td>
    </tr>
    <tr>
      <th>['WKHS']</th>
      <td>45</td>
    </tr>
    <tr>
      <th>['PSFE']</th>
      <td>34</td>
    </tr>
    <tr>
      <th>['SOFI']</th>
      <td>31</td>
    </tr>
  </tbody>
</table>